@use "reset";
@use "vars/font.var";
@use "fonts/Roboto.font";
@use "vars/colors.var";

.app {
	position: relative;
	min-height: 100vh;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	margin-top: 30px;
}
