@use "@styles/includes/media.mixin";

.Menu {
	padding: 15px;

	&::before {
		content: "";

		position: fixed;

		top: 0;
		left: 0;
		width: 100vw;
		height: 50px;

		border-bottom: none;

		background-color: #fff;
	}
}

@include media.auto-media("max", "md") {
	.Menu {
		padding-left: 0;
	}
}
